.box{
  background: #232323;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-form-field.mat-form-field label{
  font-size: 16px;
  color: #fff;
}

 .placeholder {
   color: #f9a825;
}
