<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="33">
        <mat-card >
            <mat-card-content>
              <h1>{{admin}}</h1>
              ADMIN
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="33">
        <mat-card style="background: #f9a825 !important;">
            <mat-card-content>
              <h1>{{user}}</h1>
              USER
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33" fxFlex.gt-xs="33" fxFlex="33" >
        <mat-card style="background: #000; color: #fff;">
            <mat-card-content>
              <h1>{{arUsuarios.length}}</h1>
              TOTAL
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
